.header_web{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size:18px
}
.header_mobile{
    display: none;
}
@media(max-width:600px){
    .header_web{
        display: none;
    }
    .header_mobile{
        padding: 20px 10px;
        display: block;
        text-align: right;
    }
}
.header_web a{
    margin: 0 20px;
    text-decoration: none;
    color: #363636;
    font-weight: bold;
    cursor: pointer;
}