.top{
    width: 100%;
    align-items: center;
    position: fixed;
    top: 0;
}

.topCenter{
    margin: 20px;
    display: flex;
    justify-content: center;
}
.topList{
    display: flex;
}
.topList a{
    text-decoration: none;
}
.topListItem{
    list-style: none;
    margin: 0 10px;
    color: #666;
    cursor: pointer;
}
.mobileIcon{
    display: none;
    cursor: pointer;
    font-size: 30px;
}
@media(max-width:900px){
    .topCenter{
        flex: 12;
        justify-content: flex-end;
    }
    .topList{
        display: none;
    }
    .mobileIcon{
        display: flex;
        justify-content: flex-end;
    }
}